{% extends 'users/main.html' %}
{% block content %}
<style>
    .container {
        background-color: rgb(67, 214, 214);
        opacity: .9;
    }

    .font-change {
        font-weight: bold;
        color: rgb(59, 16, 161);
    }

    .font-change:hover {
        text-decoration: none;
        color: rgb(189, 13, 36);
    }

    .profile-add-btn {
        border: none;
        border-radius: 5px;
        width: 50%;
        padding: 2%;
        font-weight: 600;
        color: #e95c39;
        cursor: pointer;
        background-color: rgb(253, 255, 128);
        margin-bottom: 20px;
        float: left;
    }
</style>


<div class="container emp-profile">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">S.N</th>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Phone</th>
                <th scope="col">Patient Gender</th>
                <th scope="col">Patient Address</th>
                <th scope="col">Hire Date</th>
            </tr>
        </thead>
        {% for hire in hires %}
        <tbody>
            <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{hire.patient.name}}</td>
                <td>{{hire.patient.phone}}</td>
                <td>{{hire.patient.gender}}</td>
                <td>{{hire.patient.address}}</td>
                <td>{{hire.hire_date}}</td>
                <td><a href="{% url 'nurse_reserve_details' hire.id %}" class="font-change">View Details</a>
                </td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</div>

{% endblock %}